@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif !important;
}
.link {
  text-decoration: none;
  color: #6b6b6b;
  font-weight: bold;
  margin-right: 15px;
}
.link:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.cursor-pointer {
  cursor: pointer;
}
.theme-button-color {
  background-color: #2db960 !important;
  border: 0px solid !important;
  text-transform: uppercase;
  font-weight: 400;
}

.landingPageBanner h3 {
  color: #797575 !important;
}
.landingPageBanner h1 {
  color: #474646 !important;
}
.landingPageBanner h1 span {
  color: #2db960 !important;
  font-weight: bolder;
}
.landingPageBanner p {
  font-size: 18px;
  color: #797575 !important;
}

/* ChatBox Deisgn */
.user-profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.chatbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 70vh;
  padding: 30px;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  padding-bottom: 20px;
}
.chatbox-wrapper .chat-header {
  color: white;
}

.chatbox-wrapper .chat-header .friendInfo {
  color: #474646;
  max-width: 300px;
  padding: 10px;
}

.chatbox-wrapper .chat-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}
.chatbox-wrapper .chat-bottom input {
  width: 100%;
  padding-left: 20px;
  border: 1px solid #f5f5f5;
}
.middle {
  width: 100%;
  min-height: 400px;
  overflow-y: scroll;
  max-height: 600px;
  margin: 10px 0px;
}
.middle::-webkit-scrollbar {
  width: 5px;
  background-color: #eef0ef;
  border-radius: 50px;
}
.middle::-webkit-scrollbar-thumb {
  background-color: #2db960;
}
.chat-content-box {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat-content-box .message-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.chat-content-box .message-wrapper .profile-pic img {
  max-width: 32px;
}
.chat-content-box .message-wrapper .action-button {
  margin-left: 10px;
  padding: 2px 6px;
  color: #807e7e;
}

.chat-content-box .message-wrapper .action-button:hover {
  background-color: #cacaca;
  border-radius: 50%;
  cursor: pointer;
}
.chat-content-box .message-wrapper .message-content {
  padding: 10px 15px;
  background-color: #cfcfcf;
  border-radius: 10px;
}

.message-content p {
  margin-bottom: 0px;
}
.self {
  justify-content: flex-end;
  padding-right: 30px;
}
.self .message-content {
  background-color: #1ea153 !important;
  color: white;
}
.messageImageWrapper img {
  border: 1px solid #cacaca;
  border-radius: 10px;
}
/* profile page */
.infoBox {
  margin-bottom: 13px;
}
.infoBox p {
  margin-bottom: 0px;
  font-weight: 500;
}
.infoBox p span {
  color: #474646;
}

/* Right sidebar */
.usersList .userList-title {
  font-size: 15px;
  margin-bottom: 20px;
}
.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.profileDetails {
  display: flex;
  align-items: center;
}
.users .image {
  max-width: 32px;
  max-height: 32px;
}
.users .name {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin-left: 5px;
}
.users .button button {
  font-size: 12px;
  font-weight: normal;
  border: 0px;
  border-radius: 50px;
  background-color: #2db960;
  color: #ffffff;
  padding: 3px 10px;
}
.users .button button:hover {
  box-shadow: 2px 2px 7px #918f8f;
}

/* Friend box design */
.friendsBox {
  max-height: 300px !important;
  overflow: scroll;
  overflow-x: hidden;
}
.friendsBox .active {
  background-color: #2db960 !important;
  border: 0px !important;
}
.friendsBox::-webkit-scrollbar {
  width: 5px;
  background-color: #eef0ef;
  border-radius: 50px;
}
.friendsBox::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

/* right sidebar */
.userListScroll {
  max-height: 300px !important;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}
.userListScroll::-webkit-scrollbar {
  width: 5px;
  background-color: #eef0ef;
  border-radius: 50px;
}
.userListScroll::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

/* Story page */
.storyWrapper {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid #2db960;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.storyWrapper img {
  width: 100%;
  overflow: hidden;
}

.addStory {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid #2db960;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.textWrapper {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
